body {
  margin: 0;
  font-family: "Gotham";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #13111c;
  overflow-x: hidden;
  color:white;
}

@font-face {
  font-family: "Gotham";
  src: url("./assets/fonts/gotham-medium.woff2");
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2f2f4900;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7370b5;
  border-radius: "12px";
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1a1c30;
}

table {
  font-size: 16px;
  color: white;
  padding-left:10%;
  padding-top: 2%;
  border-spacing: 60px 0;
}

tr:last-child,
td:last-child {
  border-bottom: 0;
}

tr {
  font-weight: 300;
  opacity: 0.75;
  font-size: 15px;
}

th {
  color: grey;
  font-weight: 500;
}

th,
td {
  padding: 9px 9px;
}

.list-title{
  text-align: center;
  font-size: 1.5rem;
}

.search-wrapper {
  margin: 2% 25%;
}